name: publish-to-spacedock

on:
  workflow_call:
    inputs:
      spacedock-username:
        type: string
        required: true
        description: Spacedock login username
      mod-id:
        type: string
        required: true
        description: ID of the mod we are deploying. Get this from the end of your mod's spacedock URL
      release-tag:
        type: string
        required: false
        description: The tag of the release.  Will be the same as `inputs.release-tag` unless it was blank.
      game-id:
        type: string
        required: false
        default: '3102' # hardcoded to KSP1 gameid.  retrieve from https://spacedock.info/api/games
        description: ID of the game we are deploying for. This should probably be left as-is for KSP 1.
    secrets:
      spacedock-password:
        required: true
        description: Spacedock login password. Store this as a secret!

jobs:
  publish-to-spacedock:
    runs-on: ubuntu-24.04
    steps:
      - name: get-release-info
        id: get-release-info
        uses: KSPModdingLibs/KSPBuildTools/.github/actions/get-release-info@1.0.1
        with:
          release-tag: ${{ inputs.release-tag }}

      - name: upload-to-spacedock
        uses: KSP2Community/spacedock-upload@v1.0.0
        with:
          username: ${{ inputs.spacedock-username }}
          password: ${{ secrets.spacedock-password }}
          game_id: ${{ inputs.game-id }}
          mod_id: ${{ inputs.mod-id }}
          version: ${{ steps.get-release-info.outputs.version-string }}
          zipball: ${{ steps.get-release-info.outputs.artifact-file }}
          changelog: ${{ steps.get-release-info.outputs.changelog-file }}
